<% if article.errors.any? %>
<div class="alert alert-danger" role="alert">
  <%= article.errors.full_messages.to_sentence %>
</div>
<% end %>


<%= form_with(model: [blog, article])  do |form| %>
  <%= image_tag article.cover_image.variant(resize: '1000X800'), style: 'display: block;' if article.cover_image.attached? %>
  <%= form.label :cover_image, '封面圖', class: 'form-label' %>
  <%= form.file_field :cover_image, class: 'form-control mb-2' %>

  <%= form.label :title, '標題', class: 'form-label' %>
  <%= form.text_field :title, class: 'form-control mb-2' %>

  <%= form.label :content, '內容', class: 'form-label' %>
  <%= form.text_area :content, rows:10, class: 'form-control form-control-lg mb-2' %>

<% if article.published? %>
    <%= form.submit '更新', name: 'save_as_draft', class: 'btn btn-primary' %>
  <% else %>
    <%= form.submit '儲存草稿', name: 'save_as_draft', class: 'btn btn-primary' %>
  <% end %>

  <%= form.submit '發佈文章', name: 'publish', class: 'btn btn-success' if article.may_publish? %>

  <%= form.submit '文章下架', name: 'unpublish', class: 'btn btn-danger' if article.may_unpublish? %>
<% end %>