<h1>Blogs List</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @blogs.each do |blog| %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= blog.name %></h5>
          <p class="card-text">
            最後編輯時間:  <%= time_ago_in_words(blog.updated_at) %>
          </p>
          <%= link_to 'articles', blog_path(blog), class:'btn btn-primary' %>
          <%= link_to edit_blog_path(blog), class:'btn btn-secondary' do %>
          <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= link_to blog_path(blog), class:'btn btn-danger', method: 'delete' , data:
                {confirm: '確定刪除?' } do %>
          <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
